jax[cpu]
flax
dm-haiku
optax
rlax

bsuite
scikit-learn

numpy
matplotlib
wandb
tqdm

swig
Box2D

# gymnasium[box2d]
# gym-anytrading

# gym-mtsim
# mobile-env

# model based
# mbrl

# offline rl with torch==1.6.0
# d3rlpy 